body {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 16px;
}

h1 {
    text-align: center;
    font-size: 1.8em;
}

.subtitle {
    color: #868686;
}

label {
    font-weight: 600;
}

label[for="convert"] {
    margin-right: 15px;
}

.bootstrap-switch-primary {
    background-color: #868e96 !important;
}

#message_form h5 {
    font-weight: normal;
}

#radio_newlines {
    margin-left: 16px;
}

#message_length {
    width: 80px;
    display: inline-block;
    margin-right: 5px;
}

#message_block_template {
    display: none;
}

.message-block {
    margin-top: 25px;
}

.message-block button {
    vertical-align: top;
}

.message-title-block {
    display: inline-block;
    width: 175px;
}

.message-block h4 {
    font-size: 16px;
    color: #868686;
}

.message {
    max-height: 100px;
    overflow-y: scroll;
}
#button_start {
    max-width: 300px;
    width: 100%;
    display: block;
    margin: auto;
}
@media screen and (max-width: 767px) {
    h1 {
        font-size: 1.5em;
    }
}
